@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-class {
    width: 100%;
    background-color: #2563eb;
    color: #ffffff;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.5rem;
}
